* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

.boxcardWrapper .petLogo {
    width: 70%;
    margin: auto;
    display: block;
}

.boxcardWrapper .innerInfoWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.boxcardWrapper .subInfoWrapper:hover .moreInfo {
    color: var(--black);
    font-weight: 600;
    cursor: pointer;
}

.boxcardWrapper .subInfoWrapper .subInnerHead {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
}

.boxcardWrapper .subInfoWrapper .subInnerCont {
    font-size: 1rem;
    font-weight: 500;
    max-width: 500;
    text-align: start;
    color: var(--grey);
}

.boxcardWrapper .subInfoWrapper .moreInfo {
    color: var(--red);
    font-weight: 600;
    cursor: pointer;
    font-size: 1.05rem;
}