* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.readNews .newsOuterWrapper {
    background-color: var(--black);
    border-radius: 15px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    min-height: 650px;
}

.readNews .newsOuterWrapper:hover,
.imageBox .abtSaveAnimal {
    background-color: var(--grey);
    color: var(--white);
    cursor: pointer;
}

.readNews .newsOuterWrapper .imageBox {
    padding: 0;
    position: relative;
}

.readNews .newsOuterWrapper .imageBox .abtSaveAnimal {
    transition: all .4s ease;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.readNews .newsOuterWrapper:hover .imageBox .abtSaveAnimal {
    transform: scaleY(1.05);
    cursor: pointer;
}

.readNews .newsOuterWrapper .outerBoxWrapper {
    padding: 20px 30px 40px;
}

.readNews .newsOuterWrapper .outerBoxWrapper .subInnerTitle {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 600;
    color: var(--red);
    margin-bottom: 1rem;
    transition: color .4s ease;
}

.readNews .newsOuterWrapper:hover .outerBoxWrapper .subInnerTitle {
    color: var(--white);
    cursor: pointer;
}

.readNews .newsOuterWrapper .outerBoxWrapper .subInnerCont {
    color: var(--white);
    font-weight: 600;
    line-height: 1.6;
}

.readNews .newsOuterWrapper .btnLearnFurther {
    border: none;
    outline: none;
    padding: 0.8rem 1rem;
    background-color: var(--red);
    font-weight: 600;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.readNews .newsOuterWrapper .btnLearnFurther:hover {
    background-color: var(--lightpink);
    color: var(--red);
    cursor: pointer;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .readNews .newsOuterWrapper {
        height: auto;
        min-height: auto;
    }

    .readNews .newsOuterWrapper .outerBoxWrapper {
        padding: 15px 20px 30px;
    }

    .readNews .newsOuterWrapper .outerBoxWrapper .subInnerTitle {
        font-size: 1.2rem;
    }

    .readNews .newsOuterWrapper .btnLearnFurther {
        padding: 0.6rem 0.8rem;
    }
}